# code: language=ansible
- hosts: terraform-ansible
  tasks:
    - name: Instalando python3 e virtualenv
      apt:                                                # Instalação do python3 e virtualenv
        pkg:                                              # Pacotes a serem instalados
        - python3                                         # Python3
        - virtualenv                                      # Virtualenv
        update_cache: yes                                 # Atualiza o cache do apt
      become: yes                                         # become: yes é para executar como root
    - name: Intalando dependencias com pip (Django e Django Rest) em uma virtualenv
      pip:                                                # Instalação do Django e Django Rest
        virtualenv: /home/ubuntu/myproject/venv           # Caminho do virtualenv
        name:                                             # Pacotes a serem instalados
          - django                                        # Django
          - djangorestframework                           # Django Rest

